<span *ngIf="item().group">
  <nb-icon class="menu-icon" [config]="item().icon" *ngIf="item().icon"></nb-icon>
  {{ item().title }}
</span>
<a
  *ngIf="item().link && !item().url && !item().children && !item().group"
  [routerLink]="item().link"
  [queryParams]="item().queryParams"
  [fragment]="item().fragment"
  [queryParamsHandling]="item().queryParamsHandling"
  [preserveFragment]="item().preserveFragment"
  [skipLocationChange]="item().skipLocationChange"
  [attr.target]="item().target"
  [attr.title]="item().title"
  [attr.role]="item().ariaRole"
  [class.active]="item().selected"
  (mouseenter)="onHoverItem(menuItem())"
  (click)="onItemClick(menuItem())"
>
  <nb-icon class="menu-icon" [config]="item().icon" *ngIf="item().icon"></nb-icon>
  <span class="menu-title">{{ item().title }}</span>
  <ng-container *ngIf="badge()" [ngTemplateOutlet]="badgeTemplate"></ng-container>
</a>
<a
  *ngIf="item().url && !item().children && !item().link && !item().group"
  [attr.href]="item().url"
  [attr.target]="item().target"
  [attr.title]="item().title"
  [attr.role]="item().ariaRole"
  [class.active]="item().selected"
  (mouseenter)="onHoverItem(menuItem())"
  (click)="onSelectItem(menuItem())"
>
  <nb-icon class="menu-icon" [config]="item().icon" *ngIf="item().icon"></nb-icon>
  <span class="menu-title">{{ item().title }}</span>
  <ng-container *ngIf="badge()" [ngTemplateOutlet]="badgeTemplate"></ng-container>
</a>
<a
  *ngIf="!item().children && !item().link && !item().url && !item().group"
  [attr.target]="item().target"
  [attr.title]="item().title"
  [attr.role]="item().ariaRole"
  [class.active]="item().selected"
  (mouseenter)="onHoverItem(menuItem())"
  (click)="$event.preventDefault(); onItemClick(menuItem())"
>
  <nb-icon class="menu-icon" [config]="item().icon" *ngIf="item().icon"></nb-icon>
  <span class="menu-title">{{ item().title }}</span>
  <ng-container *ngIf="badge()" [ngTemplateOutlet]="badgeTemplate"></ng-container>
</a>
<a
  *ngIf="item().children"
  (click)="$event.preventDefault(); onToggleSubMenu(menuItem())"
  [attr.target]="item().target"
  [attr.title]="item().title"
  [attr.aria-expanded]="item().expanded"
  [attr.role]="item().ariaRole"
  [class.active]="item().selected"
  (mouseenter)="onHoverItem(menuItem())"
  href="#"
>
  <nb-icon class="menu-icon" [config]="item().icon" *ngIf="item().icon"></nb-icon>
  <span class="menu-title">{{ item().title }}</span>
  <ng-container *ngIf="badge()" [ngTemplateOutlet]="badgeTemplate"></ng-container>
  <nb-icon class="expand-state" [icon]="expandStateIcon()" pack="nebular-essentials"></nb-icon>
</a>
<ul
  *ngIf="item().children"
  [class.collapsed]="!(item().children && item().expanded)"
  [class.expanded]="item().expanded"
  [@toggle]="toggleState()"
  class="menu-items"
>
  <ng-container *ngFor="let child of visibleChildren()">
    <li
      nbMenuItem
      [menuItem]="child"
      [badge]="child.badge"
      [class.menu-group]="child.group"
      (hoverItem)="onHoverItem($event)"
      (toggleSubMenu)="onToggleSubMenu($event)"
      (selectItem)="onSelectItem($event)"
      (itemClick)="onItemClick($event)"
      class="menu-item"
    ></li>
  </ng-container>
</ul>

<ng-template #badgeTemplate>
  <nb-badge [text]="badge().text" [dotMode]="badge().dotMode" [status]="badge().status"> </nb-badge>
</ng-template>
